/*Marcos Argüelles Rivera UO295029*/

/*Especificidad: (0, 0, 1) */
article {
    display: block;
    text-align: center;
    margin: 2em 1em;
}

/*Especificidad: (0, 0, 2) */
article table {
    width: 100%;
    table-layout: fixed;
}

/*Especificidad: (0, 0, 1) */
h3 {
    font-size: 1.75em;
}

/*Especificidad: (0, 0, 1) */
h4 {
    font-weight: bold;
    background-color: #ffffff;
    font-size: 1.25em;
    text-align: center;
    color: #000000;
    border-bottom: 0.3rem solid #B30033;
    padding-bottom: 0.5em;
    margin: 1em 0; 
}

/*Especificidad: (0, 0, 1) */
main {
    text-align: center;
}

@media (max-width: 599px) { /*Las advertencias de redefinición en esta norma no afectan al código*/
    /*Especificidad: (0, 0, 1) */
    section {
        padding: 0;
    }
}