/*Marcos Argüelles Rivera UO295029*/

section {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: flex-start; /* Alinea los elementos (párrafos) a la izquierda */
}

article {
    display: block;
    padding: 0.01em 2em;
    align-self: center;
    align-items: center;
    box-shadow: 0 0 2em #0000001a;
    margin: 2em;
    border: 0.2rem solid black;
}

article h3 {
    font-size: 1.75em;
    padding: 0 0 0.5em 0;
    margin: 0.5em 0 0 0;
    text-align: center;
}

article figure {
    text-align: center;
}

article figure img {
    border-bottom: 0.2rem solid black;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 0.25em solid #000;
    border-radius: 0.4em;
    text-align: left;
}

textarea {
    height: 7em;
}

section button { 
    align-self: center;
    margin-top: 0.5em;
    background-color: #c70039;
    padding: 1em 1.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

section h3 {
    margin-top: 0em;
    width: 100%;
    text-align: center;
}

section p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

section label {
    font-weight: bold;
    font-size: 1em;
}