/*Marcos Argüelles Rivera UO295029*/

/*Especificidad: (0, 0, 1) */
article {
    display: block;
    padding: 0.01em 2em;
    align-self: center;
    align-items: center;
    box-shadow: 0 0 2em #0000001a;
    margin: 2em;
    border: 0.2rem solid black;
}

/*Especificidad: (0, 0, 2) */
article figure {
    text-align: center;
}

/*Especificidad: (0, 0, 3) */
article figure img {
    border-bottom: 0.2rem solid black;
}

/*Especificidad: (0, 0, 2) */
article h3 {
    font-size: 1.75em;
    padding: 0 0 0.5em 0;
    margin: 0.5em 0 0 0;
    text-align: center;
}

/*Especificidad: (0, 0, 3) */
section > label > input,
section > label > textarea {
    width: 100%;
    padding: 0.8em;
    margin: 1em;
    box-sizing: border-box;
    border: 0.25em solid #000;
    border-radius: 0.4em;
    text-align: left;
}

/*Especificidad: (0, 0, 1) */
section {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: flex-start; /* Alinea los elementos (párrafos) a la izquierda */
}

/*Especificidad: (0, 0, 2) */
section h3 {
    margin-top: 0em;
    width: 100%;
    text-align: center;
}

/*Especificidad: (0, 0, 2) */
section p {
    white-space: normal;
    overflow-wrap: break-word;
}

/*Especificidad: (0, 0, 1) */
textarea {
    height: 7em;
}