/*Marcos Argüelles Rivera UO295029*/

/*Especificidad: (0, 1, 0) */
.active {
    color: #fff700;
    background-color: #B30033;
    font-weight: bold;
}

/*Especificidad: (0, 0, 1) */
a {
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    padding-inline: 1em;
}

/*Especificidad: (0, 1, 1) */
a:hover {
    background-color: #ffffff;
    color: #B30033; 
}

/*Especificidad (0, 0, 1) */
audio {
    width: 50%;
    display: block;
    margin: 1em auto;
}

/*Especificidad: (0, 0, 1) */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/*Especificidad: (0, 1, 2) */
body > p {
    font-size: medium;
    margin-left: 0.5em;
    font-weight: normal;
    margin-top: 0.5em;
}

/*Especificidad: (0, 0, 3) */
body > p > a {
    padding: 0%;
}

/*Especificidad: (0, 0, 1) */
caption {
    font-weight: bold;
    background-color: #ffffff;
    font-size: 1.25em;
    text-align: center;
    color: #000000;
    border-bottom: 0.3rem solid #B30033;
    padding-bottom: 0.5em;
    margin: 1em 0; 
}

/*Especificidad: (0, 0, 1) */
dl {
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border: 0.2rem solid #B30033;
    border-radius: 1rem;
    color: #000000;
}

/*Especificidad: (0, 0, 1) */
dt {
    padding-left: 1em;
    font-weight: bold;
    font-style: oblique;
}

/*Especificidad: (0, 0, 1) */
footer {
    text-align: right;
}

/*Especificidad: (0, 0, 1) */
form {
    align-items: center;
    margin: 2em 10em;
}

/*Especificidad: (0, 0, 2) */
h1 a {
    background-color: #B30033;
    color: #ffffff; 
    text-decoration: none;
    font-size: 1.25em;
}

/*Especificidad: (0, 0, 1) */
h2 {
    text-align: center;
    font-size: 1.75em;
    border-bottom: 0.2em solid #000000;
    padding-bottom: 1em;
    margin-bottom: 2em;;
    display: block;
    width: 100%;
}

/*Especificidad: (0, 0, 1) */
h3 {
    text-align: center;
    font-size: 1.25em;
}

/*Especificidad: (0, 0, 1) */
h4 {
    text-align: center;
}

/*Especificidad: (0, 0, 1) */
input, select {
    margin: 1em;
    display:block;
}

select {
    height: 2em;
}

input + input, form input:nth-last-child(1) {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 2em;
    align-self: center;
    background-color: #B30033;
    padding: 0.5em 1em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/*Especificidad: (0, 0, 1) */
li {
    padding: 0.4em 0;
}

/*Especificidad: (0, 0, 1) */
main {
    max-width: 60em;
    margin: 5em auto;
    padding: 3em;
    background-color: #fff;
    color: #000000;
    box-shadow: 0 0 2em #0000001a;
    align-items: center;
}

/*Especificidad: (0, 0, 2) */
main > article {
    text-align: center;
}

/*Especificidad: (0, 0, 3)*/
main > aside > article {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden; 
    border-radius: 1em;
}

/*Especificidad: (0, 0, 4)*/
main > aside > article > img {
    width: 100%;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/*Especificidad: (0, 0, 4)*/
main > aside > article > button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #B30033;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}

/*Especificidad: (0, 1, 4)*/
main > aside > article > button:nth-of-type(2) {
    top: 50%;
    left: 2%;
}
  
/*Especificidad: (0, 1, 4)*/
main > aside > article > button:nth-of-type(1) {
    top: 50%;
    right: 2%;
}

/*Especificidad: (0, 0, 2) */
main > button, label + button { 
    align-self: center;
    margin-top: 0.5em;
    background-color: #B30033;
    padding: 1em 1.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/*Especificidad: (0, 0, 2) */
main > div {
    display: block;
    height: 25em;
    width: 100%;
    margin: 2em 0;
}

main > nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

main > nav > a {
    text-align: center;
}

main section:nth-last-of-type(1) > h3 + button {
    align-self: center;
    margin-top: 0.5em;
    background-color: #B30033;
    padding: 0.5em 1em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/*Especificidad: (0, 0, 1) */
ol {
    margin: 1em 3em; 
    padding-left: 3em; 
    color: #000000;
    background-color: #ffffff; 
    border-left: 0.3rem solid #B30033;
}

/*Especificidad: (0, 0, 2) */
picture img {
    display: block;
    margin: 1em auto;
}

/*Especificidad: (0, 0, 1) */
pre {
    max-width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
}

/*Especificidad: (0, 0, 1) */
section, aside {
    box-shadow: 0 0 2em #0000001a;
    margin: 2em auto;
    padding: 3em;
    background-color: #ffffff;
    color: #000000;
}

/*Especificidad: (0, 0, 2) */
section label, main label {
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    display: block;
}

/*Especificidad: (0, 0, 1) */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
}

/*Especificidad: (0, 0, 1) */
td {
    border: 0.01rem solid #dddddd; 
    padding: 0.8em; 
    text-align: center; 
}

/*Especificidad: (0, 0, 1) */
th {
    background-color: #B30033;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

/*Especificidad: (0, 0, 1) */
ul {
    list-style-type:none; 
    margin: 1em 3em;
    padding-left: 1em;
    color: #000000;
    background-color: #ffffff;
    border-left: 0.3rem solid #B30033; 
}

/*Especificidad: (0, 0, 1) */
video {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 0.2rem #000000 solid;
}
@media (max-width: 599px) { /*Las advertencias de redefinición en esta norma no afectan al código*/
    /*Especificidad: (0, 0, 2) */
    body > p {
        visibility: hidden;
        margin: 0;
    }

    /*Especificidad: (0, 0, 0) */
    * {
        font-size: 90%;
    }
    
    /*Especificidad: (0, 0, 3) */
    h3 + article > img {
        width: 100%;
        height: 35em;
    }
    
    li, th, td, p, dt, dd {
        font-size: 1.3em;
    }

    th, td {
        padding: 1em 0.5em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.4em;
    }

    main {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    
    section, aside {
        margin: auto 0;
        box-shadow: none;
        padding-top: 0;
    }
    main nav {
        padding: 0;
    }
}
