/*Marcos Argüelles Rivera UO295029*/

/*Especificidad: (0, 0, 1) */
h3 {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}

/*Especificidad: (0, 0, 1) */
h4 {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

/*Especificidad: (0, 0, 1) */
img {
    width: 200px;
    height: 150px;
    transform: rotateY(180deg);
}

/*Especificidad: (0, 0, 1) */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 5em;
}

/*Especificidad: (0, 0, 2) */
section article {
    width: 23%;
    height: 15em;
    margin: 0.4em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
}

/*Especificidad: (0, 1, 2) */
section article[data-state="flip"] {
    transform: rotateY(180deg);
}

/*Especificidad: (0, 1, 2) */
section article[data-state="revealed"] {
    transform: rotateY(180deg);
}

/*Especificidad: (0, 0, 3) */
section article h4,
section article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.2em;
    background: #B30033;
    color: #ffffff;
    backface-visibility: hidden;
}

/*Especificidad: (0, 0, 3) */
section article h4 {
    display: flex;
    align-items: center;
}

section p {
    text-align: center;
    font-size: 2em;
    width: 100%;
}

@media (max-width: 899px) { /*Las advertencias de redefinición en esta norma no afectan al código*/
    section {
        padding: 3em;
    }
    section article {
        height: 12em;
        margin: 0.25em;
    }
}

@media (max-width: 599px) { /*Las advertencias de redefinición en esta norma no afectan al código*/
    section {
        padding: 2em;
    }
    section article {
        height: 9em;
        margin: 0.15em;
    }
}