/*Marcos Argüelles Rivera UO295029*/

aside {
    max-width: 60em;
}

/*Especificidad: (0, 0, 1) */
button {
    cursor: pointer;
}

/*Especificidad: (0, 0, 1) */
div {
    aspect-ratio: 1;            /* Hace que las celdas sean cuadradas */
    border-radius: 50%;         /* Hace que las luces sean círculos */
    border: 5px solid #000;     /* Borde oscuro */
    background-color: #0007; 
    color: #000000;   /* Fondo semitransparente */
}

/*Especificidad: (0, 0, 1)*/
form {
    display: grid;
    grid-template-columns: max-content 1fr; /* Columna 1 para label, Columna 2 para input */
    column-gap: 1em; /* Espaciado entre label e input */
    align-items: center; /* Alinea verticalmente */
    margin: 0 15em;
}

input[type="submit"] {
    grid-column: 1 / -1; /* Hace que el botón ocupe ambas columnas */
    justify-self: center; /* Centra horizontalmente el botón */
    margin-top: 1em;
    align-self: center;
    background-color: #c70039;
    padding: 0.5em 1em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

section > h3 {
    grid-column: 1 / -1;
    margin: 0;
}

/*Especificidad: (0, 0, 1)*/
input {
    justify-self: right; /* Alinea los inputs a la derecha */
    width: 10em; /* Opcional: asegura un ancho consistente para los inputs */
    margin-top: 1em;
}

/*Especificidad: (0, 0, 1)*/
label {
    text-align: left; /* Alinea texto de los labels */
    margin-top: 1em;
}

/*Especificidad: (0, 0, 1) */
main p {
    text-align: center;
}

/*Especificidad: (0, 1, 0) */
h2 + section {
    display: grid;
    justify-content: center;
    margin: 3em;
    box-shadow: none;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 5em;
}

/*Especificidad: (0, 2, 1) */
.load h2 + section div {
    animation: changeBackground 1s forwards;
}


.load > h2 + section > div:nth-of-type(1) {
    animation-delay: 0ms;
}

/*Especificidad: (0, 3, 1) */
.load > h2 + section > div:nth-of-type(2) {
    animation-delay: 500ms;
}

/*Especificidad: (0, 3, 1) */
.load > h2 + section > div:nth-of-type(3) {
    animation-delay: 1000ms;
}

/*Especificidad: (0, 3, 1) */
.load > h2 + section > div:nth-of-type(4) {
    animation-delay: 1500ms;
}

/*Especificidad: (0, 1, 0) */
div + button {
    grid-column: 2 / 3;
}

/*Especificidad: (0, 1, 0) */
button + button {
    grid-column: 3 / 4;
}

/*Especificidad: (0, 2, 1) */
.unload h2 + section div {
    animation: out forwards;
}

@keyframes changeBackground {
    100% {
        background-color: #C70039;
    }
}

@keyframes out { /*Las advertencias de redefinición en esta norma no afectan al código*/
    100% {
        background-color: #000;
    }
}